* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303b36;
}

#canvas {
    /* width: 500px;
    height: 500px; */
    border: 5px solid #fb6942;
    background-color: #fff;
}
